<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./css/style.css">
		<link rel="stylesheet" href="./css/card.css">
		<title>Document</title>
	</head>
	<body>

		<main>

			<div class="app">
				<a href="/home"><img src="../img/left-w.png" alt="" id="retour"></a>
				<div class="cardList">
					<button class="cardList__btn btn btn--left">
						<div class="icon">
							<svg>
								<use xlink:href="#arrow-left"></use>
							</svg>
						</div>
					</button>

					<div class="cards__wrapper">
						{% for project in projects %}
							<div class="card {% if loop.index == 1 %} previous--card {% endif %}{% if loop.index == 2 %} current--card {% endif %}{% if loop.index == 3 %} next--card {% endif %}{% if loop.index > 3 %} hide--card {% endif %} ">
								<div class="card__image">
								<img src="./uploads/images/{{project.image}}" alt="">
								</div>
							</div>
						{% endfor %}
					</div>

					<button class="cardList__btn btn btn--right">
						<div class="icon">
							<svg>
								<use xlink:href="#arrow-right"></use>
							</svg>
						</div>
					</button>
				</div>

				<div class="infoList">
					<div class="info__wrapper">
						{% for project in projects %}
							<div class= "info {% if loop.index == 1 %} previous--info {% endif %}{% if loop.index == 2 %} current--info {% endif %}{% if loop.index == 3 %} next--info {% endif %}{% if loop.index > 3 %} hide--info {% endif %} ">
								<h1 class="text name">{{project.title}}</h1>
								<h4 class="text location">{{project.description}}</h4>
								<p class="text description">
									lien : <a href="{{project.link}}">github</a>
								</p>
							</div>
						{% endfor %}
					</div>

				</div>

				<div class="loading__wrapper">
					<div class="loader--text">Loading...</div>
					<div class="loader">
						<span></span>
					</div>
				</div>

				<div class="app__bg">
						{% for project in projects %}
					<div  class= "app__bg__image {% if loop.index == 1 %} previous--image {% endif %}{% if loop.index == 2 %} current--image {% endif %}{% if loop.index == 3 %} next--image {% endif %}{% if loop.index > 3 %} hide--image {% endif %} ">
						<img  src="./uploads/images/{{project.image}}" alt=""/>
					</div>
					{% endfor %}
				</div>
			</div>


			<svg class="icons" style="display: none;">
				<symbol id="arrow-left" xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512'>
					<polyline points='328 112 184 256 328 400' style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/>
				</symbol>
				<symbol id="arrow-right" xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512'>
					<polyline points='184 112 328 256 184 400' style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/>
				</symbol>
			</svg>

	
	</body>
</html></main><script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script></body><script src="./js/card.js"></script><script src="./js/main.js"></script></html>
